* {
    font-family: rubik, sans-serif;
    color: var(--royal-purple)
}

:root {
    --royal-purple: #2F1E4E;
    --mint: #EBF5EE;
}



body {
    background-color: var(--mint);
}

header {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 160px;
}

h1 {
    margin-bottom: 24px;
}

a {
    color: #CA6680;
}

a:hover {
    color: var(--royal-purple)
}

p {
    text-align: center;
}

#start-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    align-items: center;
}


button {
    background-color: var(--royal-purple);
    color: white;
    padding: 12px 48px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 24px;
    border: none;
}

button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px var(--royal-purple);
}

#quiz-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    /* align-items: center; */
}

#quiz-box button {
    margin: 8px;
    width: 60%;
}
/* -- Starting here content is for high-scores page */

#score-stuff{
    display: flex;
    justify-content: center;
}

#high-score-box {
    display: flex;
    flex-direction: column;
    
}

#high-score-box h1 {
    margin-bottom: 24px;
}

ul {
    margin-left: 0px;
    margin-bottom: 32px;
    padding-left: 24px;
    font-size: 24px;
}

li {
    margin: 16px 0px;
}

hr {
    color: var(--royal-purple);
    border: 1px solid
}

input {
    height: 52px;
    width: 56%;
    border-radius: 12px;
    border: solid 1px var(--royal-purple);
    font-size: 24px;
    padding-left: 24px;
}
input:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px var(--royal-purple);
}

input:focus{
    outline: none;
    box-shadow: 1px 1px 1px 1px var(--royal-purple);
}

.secondary-btn {
    background-color: white;
    border: solid 1px var(--royal-purple);
    color: var(--royal-purple);
    padding-left: 12px;
    padding-right: 12px;
}

#score-controls {
    flex-direction: row;
    margin-top: 200px;
}

#score-controls button {
    margin-right: 16px;
}

#start-box[data-state="inactive"] {
    display:none;
}

#quiz-box[data-state="active"] {
    display: flex;
}
#quiz-box[data-state="inactive"] {
    display:none;
}

#score-stuff[data-state="active"] {
    display: flex;
}
#score-stuff[data-state="inactive"] {
    display:none;
}

#start-box[data-state="active"] {
    display: flex;
}
